.card{
padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;
box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
border-radius: 8px;
margin: 20px 10px;
}

.card img{
width: 200px;
border-radius: 5px;
}

.card h3{
flex-grow: 1;
padding-left: 25px;
font-size: 26px;
}
